body {
    background: #24aecd;
}

.skull {
    width: 900px;
    height: 900px;
    display:block;
    margin:2% auto ;
    background:url('skullsnoback.png') left center;
    animation:play .6s steps(10) infinite;
}
@keyframes play {
    100% {background-position: -1400px;}
}
